@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

.login .authentication__password, .login .authentication__username {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 14.95vw;
  background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
  color: #E0E0E0;
}
.login .warning {
  margin-bottom: 12.5vh;
}
.login .warning__title {
  font-size: 3.75rem;
  line-height: 4.75rem;
  margin-bottom: 1rem;
}
.login .warning__text {
  line-height: 1.27rem;
  width: 15.68vw;
}
.login .authentication__password .password__input, .login .authentication__username .username__input {
  width: 89%;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  margin-right: 1.125rem;
  padding: 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  color: #E0E0E0;
}
.login .authentication__password .password__input::-moz-placeholder, .login .authentication__username .username__input::-moz-placeholder {
  color: #E0E0E0;
}
.login .authentication__password .password__input:-ms-input-placeholder, .login .authentication__username .username__input:-ms-input-placeholder {
  color: #E0E0E0;
}
.login .authentication__password .password__input::placeholder, .login .authentication__username .username__input::placeholder {
  color: #E0E0E0;
}
@media screen and (max-width: 1770px) {
  .login .authentication__password .password__input, .login .authentication__username .username__input {
    width: 80%;
  }
}
.login .authentication {
  width: 21.72vw;
}
.login .authentication__title {
  font-size: 1.875rem;
  line-height: 2.38rem;
  margin-bottom: 2rem;
}
.login .authentication__username {
  margin-bottom: 2rem;
}
.login .authentication__password {
  margin-bottom: 10.65vh;
}
.login .authentication__error {
  color: #E9B425;
  font-weight: 700;
  line-height: 1.25rem;
  text-align: center;
  width: 14.74vw;
  margin: 0 auto;
  margin-bottom: 2.93rem;
  margin-left: 2.37rem;
}
.login .authentication__button {
  width: 89%;
  padding: 22px 0px;
  border-radius: 50px;
  border: none;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.5));
  background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
  color: #FFFFFF;
  font-size: 1.125rem;
  font-weight: 700;
}
@media screen and (max-width: 1770px) {
  .login .authentication__button {
    width: 80%;
  }
}

.login-image {
  height: 100vh;
  contain: content;
}
.login-image img {
  width: 100%;
  height: 115%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 1.5625rem 2.5rem;
}
.header__timekeeper {
  text-align: center;
}
.header__time {
  font-size: 9rem;
  font-weight: 700;
  line-height: 1;
}
.header__datetime {
  font-size: 0.875rem;
}
.header__localization {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_address {
  font-size: 0.875rem;
}
.header__weather {
  text-align: center;
}
.header__icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  height: 34px;
  width: 34px;
  margin-right: 1rem;
}
.header__weather--value {
  display: inline;
  font-size: 3rem;
  font-weight: 700;
}

.home-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.missions {
  text-align: right;
}
.missions__header, .missions__text {
  font-size: 2.25rem;
  font-weight: 700;
  color: #C12D18;
}
.missions__translate {
  font-size: 1.5rem;
}
.missions__text {
  font-size: 4rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
  color: #FFFFFF;
}
.footer__text {
  font-size: 0.75rem;
  text-align: right;
  width: 28.17vw;
  margin: 2rem 0 1.2rem 18.44vw;
  padding-right: 2.1875rem;
  border-right: 1px solid #FFFFFF;
}
.footer .counter {
  display: flex;
  align-items: center;
}
.footer .counter__text {
  font-size: 0.875rem;
  text-align: right;
  width: 5.68vw;
  margin: 0 2rem 0 6.4vw;
}
.footer .counter__timer {
  text-align: center;
  line-height: 1;
}
.footer .counter__meter {
  font-size: 3rem;
  font-weight: 700;
}
.footer .counter__seconds {
  font-size: 0.875rem;
}
.footer__buttons {
  display: flex;
  height: 100%;
  width: auto;
}
.footer__button--continue {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 130px;
  background-color: #FFFFFF;
  color: #C12D18;
  font-size: 0.75rem;
  text-decoration: none;
  cursor: pointer;
}
.footer__button--logout {
  height: 100%;
  width: 130px;
  background-color: #FFFFFF;
  border: none;
  color: #C12D18;
  font-size: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  color: #FFFFFF;
  font-weight: 700;
}

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60px);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60px);
  }
}
.error {
  border: 1px solid #E9B425 !important;
}

.margin-error {
  margin-bottom: 2rem !important;
}

.invisible {
  display: none;
}/*# sourceMappingURL=main.css.map */